<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <clear/>
    <add name="EBS_138" connectionString="Data Source=.;Initial Catalog=EBS;UID=EBS_Admin;PWD=123123;"/>
    <add name="EOP_179" connectionString="Data Source=.;Initial Catalog=EOP;UID=EOP_Admin;PWD=123123123;"/>
  </connectionStrings>
  <appSettings>
    <!--数据库模型类路径-->
    <add key="EBS_138_DIR" value="D:\设计文件\交易平台\source\trunk\HOME\Db\HOME.Db.Ebs.Model" />
    <!--数据库模型类命名空间-->
    <add key="EBS_138_NAS" value="HOME.Db.Ebs.Model" />
    <!--数据库链接字符串前缀-->
    <add key="EBS_138_CON" value="EBS" />

    <!--数据库模型类路径-->
    <add key="EOP_179_DIR" value="D:\设计文件\交易平台\source\trunk\HOME\Db\HOME.Db.Eop.Model" />
    <!--数据库模型类命名空间-->
    <add key="EOP_179_NAS" value="HOME.Db.Eop.Model" />
    <!--数据库链接字符串前缀-->
    <add key="EOP_179_CON" value="EOP" />
  </appSettings>
</configuration>