<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <connectionStrings>
    <add name="EBS_READ" connectionString="Data Source=.;Initial Catalog=EBS;UID=EBS_Read;PWD=12345;" providerName="1"/>
    <add name="EBS_WRITE" connectionString="Data Source=.;Initial Catalog=EBS;UID=EBS_Write;PWD=54321;" providerName="1"/>

    <add name="DEMAND_READ" connectionString="Data Source=127.0.0.1;Initial Catalog=home_rawdemand;UID=root;PWD=123456;" providerName="2"/>
    <add name="DEMAND_WRITE" connectionString="Data Source=127.0.0.1;Initial Catalog=home_rawdemand;UID=root;PWD=123456;" providerName="2"/>
  </connectionStrings>
</configuration>
